.footer {
    background-color: #eee;
    padding: 10px 15px;
}

.footer h1 a {
    color: #2b546a;
    text-decoration: none;
}

.footer h2 a {
    color: #6783a0;
    text-decoration: none;
}

.footer a:hover {
    color: #8be0e6;
    text-decoration: none;
}

.copy_light {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .footer h1 {
        font-size: 18px;
    }

    .footer h2 {
        font-size: 12px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 600px) {
    .footer h1 {
        font-size: 25px;
    }

    .footer h2 {
        font-size: 18px;
        padding-left: 15px;
    }
}
