@keyframes topDrop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  width: 100%;
  height: 82px;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: topDrop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.header a {
  text-decoration: none;
  color: #000000;
}
.header a:hover {
  text-decoration: underline;
  color: #000000;
}
.header ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  height: 82px;
}

.logo {
  height: 82px;
  float: left;
  margin-left: 30px;
  margin-top: -2px;
}

.navigation {
  margin-right: 30px;
  display: inline;
  float: right;
  margin-top: 26.5px;
}
