@font-face {
    font-family: "rennersemi";
    src: url("https://indestructibletype-fonthosting.github.io/renner_600_semi-webfont.woff2") format("woff2"),
    url("https://indestructibletype-fonthosting.github.io/renner_600_semi-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "rennersemi";
    src: url("https://indestructibletype-fonthosting.github.io/renner_600_semi_italic-webfont.woff2") format("woff2"),
    url("https://indestructibletype-fonthosting.github.io/renner_600_semi_italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@keyframes timeOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes timeOpacitySix {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

@keyframes flowing-anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}


@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media only screen and (max-width: 360px) {
    .infoZone {
        padding: 5px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .shortMessage h2 {
        font-weight: bold;
        font-size: 30px;
        color: rgba(0, 0, 0, 0);
        text-shadow: 5px 5px 0 rgb(85, 171, 221);
        -webkit-text-stroke: 1px #ffffff;
        text-stroke: 1px #ffffff;
        padding: 0 0 10px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 435px) {
    .infoZone {
        padding: 5px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .shortMessage h2 {
        font-weight: bold;
        font-size: 40px;
        color: rgba(0, 0, 0, 0);
        text-shadow: 5px 5px 0 rgb(85, 171, 221);
        -webkit-text-stroke: 1px #ffffff;
        text-stroke: 1px #ffffff;
        padding: 0 0 10px;
    }
}

@media only screen and (min-width: 436px) {
    .infoZone {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    .shortMessage h2 {
        font-weight: bold;
        font-size: 50px;
        color: rgba(0, 0, 0, 0);
        text-shadow: 5px 5px 0 rgb(85, 171, 221);
        -webkit-text-stroke: 1px #ffffff;
        text-stroke: 1px #ffffff;
        padding: 0 0 10px;
    }
}

@media only screen and (min-width: 651px) {
    .shortMessage h2 {
        font-weight: bold;
        font-size: 70px;
        color: rgba(0, 0, 0, 0);
        text-shadow: 5px 5px 0 rgb(85, 171, 221);
        -webkit-text-stroke: 0.75px #ffffff;
        text-stroke: 0.75px #ffffff;
        padding: 0 0 10px;
    }
}

.el_box {
    position: absolute;
    bottom: 280px;
    left: 12%;
}

.el_box a {
    text-decoration: none;
}

.el_box a:hover {
    text-decoration: none;
}

.shortMessage {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: flowing-anim 2.4s;
}

.shortMessage hr {
    border: none;
    background: radial-gradient(#faaf32, #fcd592);
    opacity: 1;
}

.aboutContainer {
    font-family: rennersemi;
    color: #dacfad;
    width: 130px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    border: 3.5px solid #dacfad;
    background-color: #ffffff;
    margin-left: 4.5%;
    animation-name: timeOpacity;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.aboutContainer:hover {
    font-family: rennersemi;
    color: #ffffff;
    width: 130px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    border: 3.5px solid #dacfad;
    background-color: #dacfad;
    margin-left: 4.5%;
    animation-name: timeOpacity;
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.aboutContainer h4 {
    margin-top: -2px;
    text-align: center;
}

.container {
    max-width: 918px;
    padding: 20px;
}

.container h2 {
    padding: 0.5em;
    background: #fae8d1;
    border-left: solid 5px #ffaf58;
}

.container img {
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.itemCenter {
    text-align: center;
}

.row {
    padding: 10px 0
}

.fullImage {
    animation: timeOpacitySix 2s;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.twitter_viewer {
    max-height: 442.2 ox;
}