.nolineCenter a {
    color: #000000;
    text-decoration-line: none;
}
.nolineCenter a:hover {
    color: #000000;
    text-decoration-line: none;
}
.nolineCenter {
    margin-right: auto;
    margin-left: auto;
}
.nolineCenterImg {
    text-align: center;
}